<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.heartbeatadminserver.dao.AdminDao">
    <!--    public Admin getAdminByName(String name);-->
    <select id="getAdminByName" resultType="com.example.heartbeatadminserver.entity.Admin">
        select * from admin where name=#{name}
    </select>

    <!-- public Admin getAdminById(Integer adminId);-->
    <select id="getAdminById" resultType="com.example.heartbeatadminserver.entity.Admin">
        select * from admin where adminID=#{adminId}
    </select>

    <!--    public AdminToken getTokenById(Integer adminId);-->
    <select id="getTokenById" resultType="com.example.heartbeatadminserver.entity.AdminToken">
        select * from admin_token where adminID=#{adminId}
    </select>

    <!--   public int insertToken(AdminToken adminToken);    -->
    <insert id="insertToken" parameterType="com.example.heartbeatadminserver.entity.AdminToken">
        insert into admin_token (adminID, token)
        values (#{adminId, jdbcType=INTEGER}, #{token, jdbcType=CLOB})
    </insert>

    <!--    public int updateToken(AdminToken adminToken);-->
    <update id="updateToken" parameterType="com.example.heartbeatadminserver.entity.AdminToken">
        update admin_token
        set token = #{token, jdbcType=CLOB} where adminID=#{adminId}
    </update>
</mapper>