<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.heartbeatadminserver.dao.LabelNewDao">

    <resultMap id="BaseResultMap" type="com.example.heartbeatadminserver.entity.LabelNew">
            <id property="labelid" column="labelID" jdbcType="INTEGER"/>
            <result property="labellevel" column="labelLevel" jdbcType="INTEGER"/>
            <result property="labelname" column="labelName" jdbcType="VARCHAR"/>
            <result property="labelrank" column="labelRank" jdbcType="INTEGER"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="createuser" column="createUser" jdbcType="INTEGER"/>
            <result property="isdeleted" column="isDeleted" jdbcType="INTEGER"/>
            <result property="parentid" column="parentId" jdbcType="INTEGER"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        labelID,labelLevel,labelName,
        labelRank,createTime,createUser,
        isDeleted,parentId,updateTime
    </sql>
</mapper>
