<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.heartbeatadminserver.dao.VendorDao">
    <!-- column: db, property: entity -->
    <resultMap id="BaseResultMap" type="com.example.heartbeatadminserver.entity.Vendor">
        <id column="vendID" jdbcType="INTEGER" property="vendId" />
        <result column="nameEn" jdbcType="VARCHAR" property="nameEn" />
        <result column="nameCn" jdbcType="VARCHAR" property="nameCn" />
        <result column="passwordMd5" jdbcType="VARCHAR" property="passwordMd5" />
        <result column="logoUrl" jdbcType="CLOB" property="logoUrl" />
        <result column="store" jdbcType="VARCHAR" property="store" />
        <result column="showRank" jdbcType="INTEGER" property="showRank" />
        <result column="isShown" jdbcType="INTEGER" property="isShown" />
        <result column="isDeleted" jdbcType="INTEGER" property="isDeleted" />
        <result column="holdTime" jdbcType="TIMESTAMP" property="holdTime" />
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="BaseColList">
        vendorID, nameEn, nameCn, passwordMd5, logoUrl, store, showRank,
    </sql>
    <!--    Vendor getVendorByNameEn(String nameEn);-->
    <select id="getVendorByNameEn" resultType="com.example.heartbeatadminserver.entity.Vendor">
        select * from vendor where nameEn=#{nameEn}
    </select>
    <!--    List<Vendor> getVendorList(String keywords);-->
    <select id="getVendorList" resultMap="BaseResultMap">
        select * from vendor
        where isDeleted = 0
        order by showRank desc, holdTime desc
    </select>
    <!-- List<Vendor> getVendorListByKey(String keywords); -->
    <select id="getVendorListByKey" resultMap="BaseResultMap">
        select * from vendor
        where isDeleted = 0 and nameEn like concat('%', #{keywords}, '%')
        order by showRank desc, holdTime desc
    </select>
    <!--    Integer countTotalVendor();-->
    <select id="countTotalVendor" resultType="INTEGER">
        select count(*) from vendor
        where isDeleted = 0
    </select>
    <!--    Integer countSearchVendor(String keywords);-->
    <select id="countSearchVendor" resultType="INTEGER">
        select count(*) from vendor
        where isDeleted = 0 and nameEn like concat('%', #{keywords}, '%')
    </select>
    <!--    int insertVendor(Vendor vendor);-->
    <insert id="insertVendor" parameterType="com.example.heartbeatadminserver.entity.Vendor">
        insert into vendor
        <trim prefix="(" suffix=")" suffixOverrides=",">
<!--            <if test="vendorId != null">-->
<!--                vendorID,-->
<!--            </if>-->
            <if test="nameEn != null">
                nameEn,
            </if>
            <if test="nameCn != null">
                nameCn,
            </if>
            <if test="passwordMd5 != null">
                passwordMd5,
            </if>
            <if test="logoUrl != null">
                logoUrl,
            </if>
            <if test="store != null">
                store,
            </if>
            <if test="showRank != null">
                showRank,
            </if>
            <if test="isShown != null">
                isShown,
            </if>
            <if test="isDeleted != null">
                isDeleted,
            </if>
            <if test="holdTime != null">
                holdTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
<!--            <if test="vendorId != null">-->
<!--                #{vendorId, jdbcType=INTEGER},-->
<!--            </if>-->
            <if test="nameEn != null">
                #{nameEn, jdbcType=VARCHAR},
            </if>
            <if test="nameCn != null">
                #{nameCn, jdbcType=VARCHAR},
            </if>
            <if test="passwordMd5 != null">
                #{passwordMd5, jdbcType=VARCHAR},
            </if>
            <if test="logoUrl != null">
                #{logoUrl, jdbcType=CLOB},
            </if>
            <if test="store != null">
                #{store, jdbcType=VARCHAR},
            </if>
            <if test="showRank != null">
                #{showRank, jdbcType=INTEGER},
            </if>
            <if test="isShown != null">
                #{isShown, jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted, jdbcType=INTEGER},
            </if>
            <if test="holdTime != null">
                #{holdTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>